html {
    background-color: #000000;
    background-image: url(./image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 2px;
}

.boxx {
    border-radius: 10px;
    margin: 1px 20%;
    padding: 0px 0px 50px 0px;
    background-color: rgb(238, 238, 238)
}

.separators {

}

.audiobox {
    padding: 60px 5% 0px 5%;
}

audio {
    border-radius: 10px;
    width: 45%;
    height: auto;
  }

.videobox {
    padding: 60px 5% 0px 5%;
}

video {
    border-radius: 10px;
    width: 45%;
    height: auto;
}

.description {
    color: #00000;
    font-size: 10rem;
    padding: 0px 5% 0px 5%;
    text-align: justify;
}

p {
    color: rgb(34, 40, 49)
}